.radio-hand-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    width: 140px;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 6px;
    border: solid 4px transparent;
    color: $black;
    cursor: pointer;

    transition: all 200ms ease-in-out;
    &:hover {
        background: lighten($gray-base, 80%);
    }
}

input[type="radio"]:checked + .radio-hand-label {
    border-color: $netis-primary;
    background: $white;
    color: $netis-primary;
    font-weight: bold;
}

