.recruitment-header {
    position: fixed;
    top: 60px;
    left: 30px;
    @include media-breakpoint-up(lg) {
        left: 280px;
    }
    right: 30px;
    background-color: #fff;
    z-index: 1;

    margin-bottom: 1rem;
    padding: 0.75rem;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    .nav-item {
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropdown-menu {
        position: absolute;
    }
}
