/* inspired by: https://css-tricks.com/responsive-data-tables/ */
.responsiveTable {
  width: 100%;
}
  
.responsiveTable td .tdBefore {
  display: none;
}

@each $point in (xs, sm) {
  @include media-breakpoint-down($point) {
    .responsiveTable.responsiveTable-#{$point} {
      table,
      thead,
      tbody,
      th,
      td,
      tr {
        display: block;
      }
    
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        border-bottom: $table-border-width solid $table-border-color;
      }
    
      tbody tr {
        border: $table-border-width solid $table-border-color;
        padding: .25em;
      }
    
      td.pivoted {
        /* Behave like a "row" */
        border: none !important;
        position: relative;
        padding-left: 40% !important;
        text-align: left !important;
        white-space: pre-wrap;
        overflow-wrap: break-word;
      }
    
      td .tdBefore {
        /* Now like a table header */
        position: absolute;
        display: block;
    
        /* Top/left values mimic padding */
        left: 0;
        padding: 0.75rem 1rem;
        top: 0;
        bottom: 0;
        border-bottom: solid 1px #fff;
        width: calc(40% - 20px);
        white-space: pre-wrap;
        overflow-wrap: break-word;
        text-align: left !important;
        font-weight: 600;
        background: #f5f6fa;
      }
    }
  }
}

.responsiveTable td.pivoted {
  &.pivoted-row-2 {
    min-height: 3.2 * $font-size-base;
  }
  &.pivoted-row-3 {
    min-height: 4.8 * $font-size-base;
  }
}
