$columns-available: 2, 3, 4;

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $value in $columns-available {
            .columns#{$infix}-#{$value} { columns: $value; }
        }
    }
}
