.component-take-palmistry {
    width: 100vw;
    height: 100vh;

    .hand-background-kanan{
        background-image: url('./img/kanan_hp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: 998;

        @media only screen and (min-width: 768px) {
            background-image: url('./img/kanan_web.png')
        }
    }
    .hand-background-kiri{
    background-image: url('./img/kiri_hp.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 998;

        @media only screen and (min-width: 768px) {
            background-image: url('./img/kiri_web.png')
        }
    }
    .box-control {
        background-color: rgba(0, 0, 0, 0.4);
        width: 100vw;
        height: 100px;
        position: absolute;
        bottom: 0;
        z-index: 999;
    }
    .icon-video-single {
        position: absolute;
        bottom: 20%;
        left: 47%;
        cursor: pointer;
    }
    .icon-spinner {
        position: absolute;
        bottom: 15.4%;
        left: 46.7%;
        width: 80px;
        height: 80px;
    }
}
