.admin-calendar-selected-participants-title {
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.admin-calendar-selected-participants {
    display: flex;
    flex-direction: column;

    .admin-calendar-selected-participants-item {
        display: flex;
        align-items: center;
        border-radius: $border-radius;
        font-size: 0.8rem;
        transition: background-color 150ms ease-in-out;
        padding: 0.25rem 0.5rem;
        margin-bottom: 0.25rem;

        &:hover {
            background-color: #e6eef4;
        }
    }
}
