#services {
  .services-item {
    img {
      height: 80px;
      width: 80px;
    }
    h5 {
      margin-top: 30px;
      color: #305574;
      font-style: normal;
      font-weight: bold;
      font-size: 20px;
      line-height: 26px;
      font-family: Roboto;
      letter-spacing: 0px;
    }
    p {
      font-style: normal;
      font-weight: lighter;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0px;
      color: #305574;
    }
  }
}
