// font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$roboto: "Roboto", serif;
// Here you can add other styles
body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;

  .input-label {
    font-size: 12px;
    color: #2b3c5e;
    opacity: 0.7;
  }
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.dropdown-menu button:focus {
  outline: none;
}

.required {
  color: red;
}

.card-group {
  .card-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-login-form {
    border: 0;
    padding: 20px;
    border-radius: 20px;

    form {
      width: 80%;

      .logo-widya-skilloka {
        width: 200px;
        margin-bottom: 40px;
      }

      .forgot-password {
        display: flex;
        justify-content: flex-end;

        .link,
        link:hover {
          color: #2b3c5e;
          text-decoration: none;
        }
      }

      input {
        border: 1px solid #b2bbce;
      }

      .login-submit {
        width: 100%;
        padding: 10px 0;
        color: #fff;
        background-color: #335877;
        margin-top: 40px;
      }
    }
  }

  .card-login-info {
    border: 0;
    border-radius: 20px;
    flex-grow: 1.5;
    background-color: #335877;
    background-size: cover;
    background-repeat: no-repeat;

    .login-info {
      color: #fff;

      .login-img {
        width: 350px;
        margin-bottom: 60px;
      }

      h2 {
        font-size: 24px;
        font-weight: 600;
      }
    }
  }
}

.main {
  background-color: #fff;

  .container-fluid {
    padding: 15px 15px 0;
    @include media-breakpoint-up(sm) {
      padding: 30px 30px 0;
    }
  }
}

.background-login {
  background-color: #eaeef6;
}

.content-title {
  font-weight: 600;
  color: #2b3c5e;
  font-family: "Roboto";
}

.content-sub-title {
  font-weight: 400;
}

.content {
  padding: 1rem;
}

.content-body {
  margin-bottom: 30px;
}

html:not([dir="rtl"]) .sidebar {
  margin-left: -250px;
}

.app-header {
  border: 0;
  box-shadow: 1px 3px 20px 8px rgba(115, 124, 158, 0.1);

  .navbar-brand {
    width: 250px;
  }

  .navbar-nav {
    padding-right: 15px;
    @include media-breakpoint-up(md) {
      padding-right: 30px;
    }
  }

  .nav-item {
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-link .img-avatar {
      width: 35px;
    }
  }
}
.round-100 {
  width: 35px;
  border-radius: 100%;
  height: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.2px solid #333;
}
.app-body .sidebar {
  flex: 0 0 250px;
}

.sidebar-fixed .sidebar {
  width: 250px;
  background-color: #305574;

  .sidebar-nav {
    margin-top: 30px;
    width: 250px;

    .nav {
      width: 220px;
    }
  }

  .nav-link {
    color: #fff;
    padding: 0.8rem 2.3rem;
    margin-bottom: 10px;

    .nav-icon {
      color: #fff;
    }
  }

  .nav-link:hover,
  .nav-link.active {
    color: #2b3c5e;
    font-weight: 600;
    background: #edf0f2;
    border-radius: 0 8px 8px 0;

    .nav-icon {
      color: #2b3c5e;
    }
  }

  .nav-dropdown-toggle::before {
    width: 10px;
    height: 10px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%23fff' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  }

  .nav-dropdown-toggle:hover::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11 14'%3E%3Cpath fill='%232B3C5E' d='M9.148 2.352l-4.148 4.148 4.148 4.148q0.148 0.148 0.148 0.352t-0.148 0.352l-1.297 1.297q-0.148 0.148-0.352 0.148t-0.352-0.148l-5.797-5.797q-0.148-0.148-0.148-0.352t0.148-0.352l5.797-5.797q0.148-0.148 0.352-0.148t0.352 0.148l1.297 1.297q0.148 0.148 0.148 0.352t-0.148 0.352z'/%3E%3C/svg%3E");
  }

  .nav-dropdown.open {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 0 8px 8px 0;
  }

  // .icon-home:before {
  //     content: "\e901";
  // }
  // .icon-users:before {
  //     content: "\e903";
  // }
  // .icon-fingerprint:before {
  //     content: "\e904";
  // }
  // .icon-calendar:before {
  //     content: "\e905";
  // }
  // .icon-business-outline:before {
  //     content: "\e906";
  // }
}

.menu {
  a {
    text-decoration: none;
    color: #23282c;
  }

  .menu-item {
    // width: 200px;
    // height: 240px;
    border: 1px solid #dbdce5;
    border-radius: 15px;
    // padding: 30px 45px 30px 20px;
    background: #fff;
    box-sizing: border-box;
  }

  .menu-img {
    img {
      width: 80%;
    }
  }

  .menu-title {
    font-weight: 600;
  }

  .menu-item:hover {
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 23px #3e58781a;
  }
}

.nav-tabs {
  border-bottom: 1px solid #c6c6d4;
  margin-bottom: 1px;

  .nav-link {
    text-decoration: none;
    color: #b2bbce;
    border: none;
    border-bottom: 3px solid transparent;
  }

  li {
    margin: 0 5px;
  }

  .nav-link.active {
    color: #305574;
    border: none;
    font-weight: 600;
    border-bottom: 3px solid #305574;

    &:focus {
      outline: none;
      background: inherit;
      border-color: inherit;
      border-bottom-color: inherit;
    }
  }

  .nav-link:hover {
    color: #305574;
    font-weight: 600;
    border-bottom: 3px solid #305574;
  }

  li:first-child {
    margin-left: 0;
  }

  li:last-child {
    margin-right: 0;
  }
}

.tab-content {
  border: none;

  .tab-pane {
    padding: 1rem 0 0;

    @include media-breakpoint-up(sm) {
      padding: 1rem 1rem 0;
    }
  }
}

a:not([href]):not([tabindex]):hover {
  color: #305574;
  text-decoration: none;
}

a:not([href]):not([tabindex]) {
  color: #7a7e88;
}

// .md-company-header {
//     margin-bottom: 10px;

//     .search-form {
//         color: #B2BBCE;
//         border: 1px solid #A7B7D8;
//         border-radius: 4px;
//     }
// }

ul.list-custom-check {
  list-style-type: none;
  padding-inline-start: 30px;
  li {
    position: relative;
    margin-bottom: 0.5rem;
    &:before {
      position: absolute;
      left: -30px;
      width: 20px;
      top: 0;
      bottom: 0;
      content: "";
      background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.542' height='18.218' viewBox='0 0 18.542 18.218'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23098441;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.9px;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-0.833 -0.87)'%3E%3Cpath class='a' d='M18.032,9.277v.737a8.016,8.016,0,1,1-4.754-7.327' transform='translate(0 0)'/%3E%3Cpath class='a' d='M19.421,4,11.4,12.024,9,9.619' transform='translate(-1.389 -0.398)'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 4px 4px;
      background-size: 13px 13px;
    }
  }
}

.table {
  thead {
    background-color: #f5f6fa;
    border-radius: 5px;

    .w-5 {
      width: 5%;
    }
    .w-10 {
      width: 10%;
    }
    .w-15 {
      width: 15%;
    }
    .w-20 {
      width: 20%;
    }
    .w-30 {
      width: 30%;
    }
    .w-35 {
      width: 35%;
    }
    .w-50 {
      width: 50%;
    }
    .w-70 {
      width: 70%;
    }
  }

  th, td {
    vertical-align: middle;
  }

}

.input-group-transparent {
  background-color: transparent;
}

.input-search {
  border-left: none;
}

button:disabled {
  cursor: no-drop;
}

.btn-thin {
  padding: 0.25em 0.4em;
}

.btn-netis-color,
.btn-netis-color:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #335877;
  border: none;
  width: auto;
}

.btn-netis-success,
.btn-netis-success:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color:#5cb85c;
  border: none;
  width: auto;
}

.btn-netis-danger,
.btn-netis-danger:hover {
  color: #fff;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #f86c6b;
  border: none;
  width: auto;
}

.btn-white,
.btn-white:hover {
  color: #335877;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.btn-red-custom,
.btn-red-custom:hover {
  color: #f63c3a;
  font-size: 0.9em;
  font-weight: 600;
  background-color: #fff;
  border: none;
}

.btn-circle {
  padding: 15px;
  border: 1px solid #b2bbce;
  border-radius: 50%;
}

.btn-circle:hover {
  cursor: pointer;
  border: 1px solid #b2bbce;
  box-shadow: 0px 4px 23px #3e58781a;
}

.form-control:disabled {
  background-color: #fafbfd;
  cursor: no-drop;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.bank-card {
  width: 380px;
  height: 220px;
  border-radius: 15px;
  border: none;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  line-height: 210px;
  text-align: left;
  padding: 35px;
}
.title-bank {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  font-weight: bold;
  line-height: 1.5;
  vertical-align: bottom;
  display: inline-block;
}
.input-group {
  width: auto;
}

.modal-document {
  @include media-breakpoint-up(md) {
    max-width: 700px;
  }
}

.modal-dialog {
  // top: 30%;

  .modal-content {
    border: none;
    border-radius: 13px;

    .modal-body {
      padding: 2rem;
    }
  }
}

// .modal-dialog.modal-lg {
//     top: 25%;
// }

.banner-upgrade {
  border: none;
  border-radius: 25px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-information {
  border-radius: 25px;
  background-color: #fbfaff;
  border: none;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px;
}
.title-information-company {
  color: #2b3c5e;
  font-family: $roboto;
  letter-spacing: 0.02em;
  font-weight: bold;
  font-size: 1.2em;
}
.title-menu-company {
  color: #2b3c5e;
  font-family: $roboto;
  letter-spacing: 0.02em;
}
.title-upgrade {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  font-weight: bold;
}
.button-upgrade {
  color: #e2ecff;
  font-family: $roboto;
  letter-spacing: 0.01em;
  padding: 5px 18px;
  border: 1.3px solid #e2ecff;
  border-radius: 5px;
  background-color: transparent;
}
.button-upgrade:hover {
  cursor: pointer;
  box-shadow: 0px 0px 4px #fff;
}
.padding-0 {
  padding: 0px;
}
.padding-top-bottom-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.label-information {
  color: #7b849a;
  font-family: $roboto;
}
.input-information[disabled] {
  color: #2b3c5e;
  font-family: $roboto;
  border: none;
  border-bottom: 1px solid #d9dde6;
  background-color: transparent;
  font-weight: 600;
  cursor: default;
}

.personnel-name,
.personnel-name:hover {
  text-decoration: none;
  color: #1e3f80;
}

.semi-bold {
  font-weight: 600;
}

.action-text {
  margin: 0;
  font-weight: 600;
  color: #1e3f80;
}
.action-text:hover {
  cursor: pointer;
}
.img-width {
  height: 100px;
}
.button-add-doc,
.button-add-doc:hover {
  width: 30%;
  padding: 10px 0;
  color: #fff;
  background-color: #335877;
  margin-top: 20px;
}

.frame-profile-picture {
  width: 210px;
  // height: 140px;
  // border: 3px solid #ccc;
  box-shadow: 0px 3px 12px #2b3c5e1a;
  background: #fff;
  margin: auto;
  padding: 10px 10px;

  img {
    width: 100%;
    // height: 100%;
  }
}
.frame-profile-picture-empty {
  width: 210px;
  height: 140px;
  // border: 3px solid #ccc;
  box-shadow: 0px 3px 12px #2b3c5e1a;
  background: #fff;
  margin: auto;
  padding: 10px 10px;

  img {
    width: 100%;
    height: 100%;
  }
}

.img-avatar {
  width: 35px;
  margin-right: 10px;
}

.react-datepicker-wrapper {
  display: block !important;
}

.loading {
  position: absolute;
  top: 40%;
  left: 50%;
}

.img-document {
  max-width: 350px;
}

.input-personnel-document {
  width: 300px;
  height: 180px;
  border: 2px dashed #b2bbce;
  border-radius: 15px;

  .input-personnel-document-button {
    padding: 15px;
    border: 1px solid #b2bbce;
    border-radius: 50%;
    box-sizing: border-box;
  }

  .input-personnel-document-button:hover {
    cursor: pointer;
  }

  span {
    color: #b2bbce;
    font-size: 2rem;
  }
}

.form-check-input {
  position: relative;
  margin-left: 0;
}

.form-check-label {
  color: #5c6873;
}

.no-data-message {
  color: #5c6873;
  font-style: italic;
}

.autocomplete-dropdown-container {
  position: absolute;
  width: 85%;
  z-index: 1;
  border-radius: 0.25rem;
  background-color: #fff;
  top: 47px;
  left: 10px;
  box-shadow: 0 4px 6px 0 rgba(32, 33, 36, 0.28);

  div {
    padding: 0.275rem 0.75rem;
  }

  div:last-child {
    margin-bottom: 0.375rem;
  }

  .suggestion-item--active {
    background-color: #eee;
    cursor: pointer;
  }

  .suggestion-item {
    cursor: pointer;
  }
}

.radius-number {
  margin-top: 28px;
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  border: 0;
}

input[type="range"]:focus {
  outline: none;
  box-shadow: none;
}

input[type="range"]:hover {
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #335877;
  height: 5px;
  border-radius: 10px;
}

input[type="range"]::-moz-range-track {
  background: #335877;
  height: 5px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  background: #335877;
  margin-top: -7px;
  border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  background: #335877;
  margin-top: -7px;
  border-radius: 50%;
}

.react-datepicker-component {
  .react-datepicker-input {
    min-width: 0 !important;

    input {
      font-size: 0.875rem !important;
      font-weight: 400 !important;
      line-height: 1.5;
      color: #5c6873 !important;
      background: #fff !important;
      padding-right: 32px !important;
      background-clip: padding-box;
      border: 1px solid #e4e7ea;
    }
  }
}

.my-custom-datepicker-component .react-datepicker-input.has-value c {
  padding-right: 32px;
}

.my-custom-datepicker-component.is-invalid .react-datepicker-input
{
  border: 1px solid #dc3545;
}

.react-datepicker-component.is-disabled {
  background-color: #fafbfd !important;
  cursor: no-drop;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  .react-datepicker-input,
  input {
    background-color: #fafbfd !important;
    cursor: no-drop;
  }
}
.notif-card {
  border: 1px solid #dbdce5;
  box-shadow: 0px 4px 10px #3e58781a;
  border-radius: 15px;
  background: #fff;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
}
.notif-card:hover {
  background-color: #fdfdfe;
}
.dashboard-notif-wrapper {
  height: 1155px;
}
.dashboard-notif {
  background-color: #fbfbfb;
  overflow: scroll;
}
.brand-card,
.dashboard-card {
  border: 1px solid #dbdce5;
  // border: none;
  // box-shadow: 0px 4px 23px #3e58781a;
  border-radius: 15px;
  background: #fff;
  box-sizing: border-box;
  color: #2b3c5e;
  height: 100%;
  .brand-card-header {
    border-radius: 15px 15px 0 0;
  }

  .card-header {
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
  }

  .widget01-children {
    background-color: #fafbfd;
    margin: 0.5rem 0 0.75rem 0;
    padding: 0 0.5rem;
  }

  hr {
    margin: 0.275rem 0;
  }
}

.badge-btn:hover {
  cursor: pointer;
  box-shadow: 0px 4px 23px #3e58781a;
}

.check-in {
  background-color: #ddf1f1;
}
.check-out {
  background-color: #f7ebe3;
}
.top-modal {
  top: 100px;
  flex: 1;
}
.flexbox-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.flexboxi-1 {
  flex: 1;
}

.flexboxi-2 {
  flex: 2;
}
.height-100 {
  height: 100%;
}
.margin-30 {
  margin: 0px;
  background-color: #333;
}
.webcam {
  position: relative;
}
.button-capture {
  // position: relative;
  width: 75px;
  height: 75px;
  border: 5px solid #498fca;
  border-radius: 100px;
  background-color: #fff;
  z-index: 999;
  // margin-top:-130px;
  opacity: 0.9;

  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
}
.bottom-capture {
  max-width: 80%;
  color: #fff;
  z-index: 999;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
}
.fixedDisplay {
  position: fixed;
  height: 100%;
  width: 100%;
}
.splash {
  background-color: rgba(255, 255, 255, 0.8);
  //  opacity: 0.3;
  width: 100%;
  height: 100%;
  margin: 0px;
}
.top-50 {
  margin-top: 50px;
}

textarea {
  resize: none;
}
.dashboard-wrapper {
  border: 1px solid #e6e4e4;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 4px 23px #3e58781a;
}
.dashboard-body-personnel {
  background-size: contain;
  background-repeat: no-repeat;
  height: 121.1px;
  background-position: center;
}
.icon-wrapper {
  padding: 30px 20px;
}
.title-wrapper {
  padding: 10px 5px 5px;
  background-color: #489fc1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.title-dashboard {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.number-dashboard {
  font-weight: bold;
  color: #fff;
}

.search-location {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80%;
}

// Landing Page
.landing-page {
  margin-top: 72px;
}

.fab-whatsapp {
  a {
    text-decoration: none !important;
  }
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  text-align: center;
  img {
    width: 50px;
    cursor: pointer;
  }

  .fab-whatsapp-caption {
    display: none;
  }

  .fab-whatsapp-icon-on {
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;
  }
  .fab-whatsapp-icon-off {
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }

  .fab-whatsapp-box-off {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
    overflow: hidden;
    transform: scale3d(0, 0, 0);
    opacity: 0;
    transition: opacity 0.4s ease-out, transform 0ms linear 0.3s;
  }
  .fab-whatsapp-box-on {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: calc(100vw - 20px * 2);
    max-width: 500px;
    min-height: 170px;
    max-height: calc(100vh - 20px - 20px);
    border-radius: 32px;
    background: transparent;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.125);
    text-align: left;
    overflow: hidden;
    opacity: 1;
    transform: scaleX(1);
    transition: opacity 0.2s ease-out, transform 0ms linear;

    .fab-whatsapp-box-header {
      position: relative;
      flex-shrink: 0;
      height: 70px;
      line-height: 70px;
      padding: 0 26px;
      margin: 0;
      background: $netis-primary;
      text-align: left;

      .fab-whatsapp-box-header-title {
        margin-top: 15px;
        font-size: 24px;
        color: #ffffff !important;
      }

      .fab-whatsapp-box-header-close {
        position: absolute;
        top: 50%;
        right: 24px;
        width: 34px;
        height: 34px;
        margin-top: -16px;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.4) url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='M24 2.4L21.6 0 12 9.6 2.4 0 0 2.4 9.6 12 0 21.6 2.4 24l9.6-9.6 9.6 9.6 2.4-2.4-9.6-9.6L24 2.4z'/%3E%3C/svg%3E") 50% no-repeat;
        background-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease-out;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      }
    }
    .fab-whatsapp-box-content {
      padding: 20px 0 30px;
      padding-bottom: calc(20px);
      background: #ffffff;
      overflow-x: hidden;
      overflow-y: auto;
      will-change: scroll-position;

      .fab-whatsapp-box-content-message {
        display: inline-block;
        position: relative;
        // min-height: 60px;
        min-width: 100px;
        width: auto;
        padding: 0.5rem 20px;
        margin: 0 26px 1rem;
        border-radius: 32px;
        background: #0091aa;
        color: #ffffff;
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.3));
        transform: translateZ(0);
      }

      .fab-whatsapp-box-content-message-client {
        text-align: left;
        position: relative;
        min-height: 50px;
        // width: 100%;
        display: block;
        margin: auto;
        padding: 17px 20px;
        border-radius: 32px;
        background: #ffffff;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }

      .fab-whatsapp-box-content-message-client::placeholder {
        opacity: 1;
        filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.125));
      }
    }
  }
  @include media-breakpoint-up(sm) {
    // transform: translateY(15px);
    transition: transform 100ms ease-in-out;
    .fab-whatsapp-caption {
      display: inline;
      opacity: 0;
      transition: opacity 250ms ease-in-out;
    }
    &:hover {
      transform: translateY(0);
      .fab-whatsapp-caption {
        opacity: 1;
      }
    }
  }
}

.custom-nav {
  padding-top: 10px;
  padding-bottom: 10px;
  /* padding-bottom: 20px; */
  // .nav-item
  .navbar-nav .nav-item {
    color: $netis-primary !important;
    position: relative;

    &.has-subitem {
      .nav-subitem {
        position: absolute;
        display: none;
        white-space: nowrap;
        transform: translateX(-25%);
        a {
          color: $netis-primary;
          font-weight: 400;
          &:hover {
            text-decoration: none;
            background-color: #f2f2f2;
          }
        }
      }
      &:hover .nav-subitem {
        display: block;
        top: 90%;
      }
    }

    &:hover {
      font-weight: 600;
    }

    &:not(.has-subitem) {
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0.5rem;
        background-color: #ffa733;
        height: 3px;
        border-radius: 3px;
        width: 0px;
        min-width: 0px;
        transition: width 200ms linear, min-width 200ms linear;
      }
      &:hover,
      &.active {
        &:after {
          width: 40%;
          min-width: 30px;
        }
      }
    }
  }
}

.navbar-light .navbar-toggler {
  border-color: transparent;
}

.navbar .button:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../assets/assets_ari/burger.svg");
}

.close-drawer .navbar-toggler-icon {
  background-image: url("../assets/assets_ari/closenav.svg");
}

/* .navbar-toggler-icon {
    background-image: url('./closenav.svg');
} */

.navbar-logo {
  width: 200px;
}

.modal-drawer .nav-link {
  color: #305574;
  font-size: 14px;
  font-weight: 600;
  margin-right: 20px;
}

.modal-drawer {
  max-width: 100%;
  height: 100%;
  margin: 0;

  .drawer-header {
    display: flex;
    justify-content: space-between;
  }

  .modal-content {
    border-radius: 0;
    height: 100%;
    padding: 8px 0;
  }

  ul {
    list-style: none;
    padding: 0 22px;
    color: #305574;
    font-size: 16px;
    font-weight: 500;

    li {
      padding: 12px 0;
      border-bottom: 1px solid rgba(228, 228, 228, 0.3);
    }
  }

  .nav-link {
    font-weight: 500;
    font-size: 16px;
  }

  .btn-landing {
    padding-top: 8px;
    padding-bottom: 8px;
    border: none;
    border-radius: 10px;
  }
}

.btn-landing {
  font-weight: 600;
  border-radius: 12px;
  padding: 3px 20px;
  text-align: center;
}

.btn-netis {
  background-color: #305574;
  color: #fff;
}

.btn-navbar {
  font-size: 14px;
}

.btn-grey {
  font-size: 16px;
  background-color: #eaedf5;
  color: #305574;
  padding: 8px 22px;
}

.btn-grey:hover {
  color: #305574;
}

.btn-landing:hover {
  color: #fff;
  text-decoration: none;
}

.nav-link:hover {
  color: #305574;
}

.hero {
  color: #305574;
  min-height: 80vh;
}

.hero-image {
  position: relative;
  background-image: url("../assets/img/illustrations/home.svg"), url("../assets/img/illustrations/polygon3.svg"), url("../assets/img/illustrations/ellipse4.svg"), url("../assets/img/illustrations/ellipse3.svg"), url("../assets/img/illustrations/ellipse66.svg"), url("../assets/img/illustrations/ellipse55.svg"), url("../assets/img/illustrations/ellipse4.svg");
  background-position: top right, 48% 9%, 36% 61%, 8.5% 13%, 24% 75%, 45% 91%, 30% -10%;
  background-size: auto 540px, 40px, 13px, 18px, 18px, 18px, 18px;
  background-repeat: no-repeat;

  @include media-breakpoint-up(lg) {
    background-size: auto 100%, 40px, 13px, 18px, 18px, 18px, 18px;
  }

  @include media-breakpoint-down(md) {
    // background-position: 300px 0px, 48% 9%, 36% 61%, 8.5% 13%, 24% 75%, 45% 81%, 30% 90%;
    background-size: 70% auto, 40px, 13px, 18px, 18px, 18px, 18px;
  }
}

.hero-content {
  max-width: 100%;
  padding-top: 70%;
  @include media-breakpoint-up(sm) {
    max-width: 80%;
    padding-top: 80px;
  }
  @include media-breakpoint-up(md) {
    max-width: 50%;
    padding-top: 120px;
  }
  margin-bottom: 3rem;
  h1 {
    text-align: left;
    font-size: 1.25rem;
    @include media-breakpoint-up(sm) {
      font-size: 1.75rem;
      text-align: left;
    }
  }
  h1,
  h5 {
    font-weight: 600;
  }
}

.btn-hero-cta {
  padding: 1rem 2rem;
  font-size: 1.1rem;
  line-height: 1;
  margin-top: 1.5rem;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: auto;
    margin-top: 4rem;
  }
  img {
    margin-left: 1rem;
    height: 14px;
    transition: margin-left 200ms ease-in-out, 200ms ease-in-out;
  }
  &:hover img {
    margin-left: 3rem;
  }
}

#features {
  .feature-item {
    @include media-breakpoint-up(md) {
      transition: transform 200ms ease-in-out;
      &:hover {
        transform: scale(1.15);
      }
    }
  }
}

.hr-main {
  border-top: none;
  width: 160px;
  height: 5px;
  background: $netis-secondary;
  border-radius: 5px;
  margin-bottom: 25px;
}

.unduh-app {
  width: 200px;
}

footer {
  background-color: #395e7d;
  box-sizing: border-box;
  color: #dce6ef;
  /* height: 250px; */
  border-radius: 40px 40px 0 0;
  padding-top: 40px;
  padding-bottom: 18px;
  /* background-image: url('./group3.svg'), url('./ellipse.svg'), url('./ellipse3.svg'), url('./ellipse2.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 70px, auto, 20px, 40%;
    background-position: 20px 40px, -240px -180px, 98% 90%, 130% -18%; */
}

.logo_white {
  width: 200px;
  @include media-breakpoint-up(md){
    margin-left: 30px;
  }
}

.footer-left {
  // width: 260px;
  @include media-breakpoint-up(md){
    margin-left: 30px;
  }
}

.footer-right {
  margin-right: 30px;
  ul {
    padding-inline-start: 0px;
    padding: 0;
    @include media-breakpoint-up(md) {
      padding: 0 20px;
    }
    list-style-type: none;
    li {
      &:first-child {
        margin-bottom: 0.5rem;
      }
      padding: 0.25rem 0;
      a {
        color: #cbd9e7;
        &:hover {
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}

.footer-divider {
  text-align: left;
  width: 45px;
  border-top: 3px solid #ffb95b;
  margin-top: 8px;
  margin-left: 0;
  @include media-breakpoint-up(md){
    margin-left: 30px;
  }
}

footer p {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 24px;
}

.sosmed-lg img {
  width: 30px;
}

.hr-footer {
  border-top: 1px solid #fff;
  opacity: 0.6;
  margin: 22px 0;
  margin-bottom: 18px;
}

.copyright {
  color: #fff;
  font-size: 12px;
  line-height: 22px;
}

.fab-container {
  bottom: 2vh !important;
  right: 2vw !important;
}

.card .card-container {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 1rem;
  z-index: 1;
}

.comingsoon::before {
  position: absolute;
  top: 2rem;
  right: -0.5rem;
  content: "";
  background: #f5222d;
  height: 28px;
  width: 28px;
  transform: rotate(45deg);
}

.comingsoon::after {
  position: absolute;
  content: attr(data-label);
  top: 11px;
  right: -14px;
  padding: 0.5rem;
  width: 10rem;
  background: #f5222d;
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  box-shadow: 4px 4px 15px rgba(26, 35, 126, 0.2);
  z-index: 2;
}

.grafik-papikostick-user {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/asesmen/papikostick/square-user-baru.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 107%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
  }

  @include media-breakpoint-up(xl) {
    max-width: 1000px;
    max-height: 1000px;
  }
}

.grafik-papikostick-admin {
  max-width: 320px;
  max-height: 320px;
  padding: 50px 0;
  background-image: url("../assets/img/asesmen/papikostick/square-admin-baru.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-up(sm) {
    max-width: 480px;
    max-height: 480px;
    padding: 80px 0;
  }

  @include media-breakpoint-up(md) {
    max-width: 600px;
    max-height: 600px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 800px;
    max-height: 800px;
    padding: 100px 0;

  }

}

.about-image{
  width: 85%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  @include media-breakpoint-up(md){
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  img{
    width: 100%;
    height: auto;
    @include media-breakpoint-up(lg){
      width: 700px;
      height: 400px;
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .about {
    background-size: 8px;
    background-position: 5% 0%;
  }

  .about h1 {
    font-size: 1.75rem;
  }

  .hr-main {
    width: 70px;
    border-top: 3px solid #ffb95b;
  }

  .unduh-app:first-child {
    margin-right: 20px;
  }

  footer {
    background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    background-repeat: no-repeat;
    background-size: 50px, 400px, 12px, 300px;
    background-position: 10px 30px, -200px -40px, 98% 80%, 190% 160%;
  }

  .footer-content {
    padding: 0 15px;
  }

  .logo_white {
    width: 200px;
  }

  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: none !important;
  }

  .nav-token-mobile {
    display: flex !important;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  footer {
    background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 50px, 400px, 18px, 12px, 300px;
    background-position: 10px 30px, -200px -40px, 62% 50%, 98% 80%, 140% 160%;
  }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: none !important;
  }

  .nav-token-mobile {
    display: flex !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  footer {
    background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 60px, 500px, 20px, 400px;
    background-position: 20px 40px, -50px -70px, 98% 90%, 140% -170%;
  }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: none !important;
  }

  .nav-token-mobile {
    display: flex !important;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  footer {
    background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 70px, 20px, auto, 20px, 40%;
    background-position: 20px 40px, 55% 25%, -300px -180px, 98% 90%, 130% -18%;
  }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: flex !important;
  }

  .nav-token-mobile {
    display: none !important;
  }

  .detail-applicant-photo {
    float: right;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  footer {
    background-image: url("../assets/assets_ari/group3.svg"), url("../assets/assets_ari/polygon7.svg"), url("../assets/assets_ari/ellipse.svg"), url("../assets/assets_ari/ellipse3.svg"), url("../assets/assets_ari/ellipse2.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 70px, 20px, auto, 20px, 40%;
    background-position: 20px 40px, 55% 25%, -190px -180px, 98% 90%, 130% -18%;
  }
  .fab-whatsapp {
    bottom: 1rem;
    right: 1rem;
  }
  .nav-token {
    display: flex !important;
  }

  .nav-token-mobile {
    display: none !important;
  }

  .detail-applicant-photo {
    float: right;
  }
}
// end landing page

@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
    height: 600px;
  }
}
@media (min-width: 576px) {
  .card-group {
    flex-flow: row wrap;
    height: 600px;
  }
}

@media (min-width: 992px) {
  .main {
    margin-left: 250px !important;
  }
}

@media (max-width: 992px) {
  .card-group {
    .card:not(:last-child) {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
    }
  }
}

@media (max-width: 600px) {
  .menu-img img {
    width: 70%;
  }

  .rbc-calendar {
    overflow: scroll;

    .rbc-toolbar,
    .rbc-month-view,
    .rbc-time-view {
      min-width: 650px;
    }
  }

  .sidebar .nav {
    width: 200px;
  }

  .app-header .navbar-brand {
    @include media-breakpoint-down(xs){
      max-width: 50px;
      .navbar-brand img {
        max-width: 50px;
      }
    }
    width: 155px;
  }

  .plr-4 {
    padding: 0;
  }

  .card-group .card-login-form {
    form {
      width: 100%;
    }
  }

  // .modal-dialog {
  //     // top: 25%;
  // }
  .button-add-doc,
  .button-add-doc:hover {
    width: 90%;
  }

  .loading {
    left: 25%;
  }

  .filter-date-attendance {
    margin: 0 !important;
  }

  .dashboard-card .ul-dashboard {
    padding-inline-start: 0;
  }
}

@media (min-width: 790px) {
  .attendance {
    display: none;
  }
}

.bg-stripe {
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 20 20'%3E%3Cg %3E%3Cpolygon fill='%23f5f5f5' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23f5f5f5' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: #f2f2f2;
}

.rounded-12 {
  border-radius: 12px !important;
}

.settings-list {
  & > .list-group-item {
    position: relative;
    &.is-changed:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0.75rem;
      bottom: 0.75rem;
      width: 0.25rem;
      border-radius: 0.25rem;
      background: #ffc107;
    }

    .list-group-item-heading {
      font-weight: bold;
    }
  }
}

.disc-choices{
    @include media-breakpoint-down(sm) {
      .custom-control-label::before, .custom-control-label::after {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
}
.img-icon{
  background-color: #335877;
  border-radius: 10px;
  @include media-breakpoint-down(sm){
    max-height:100%;
    max-width:100%;
  }
  @include media-breakpoint-only(md){
    max-height: 80%;
    max-width: 80%;
  }
  @include media-breakpoint-up(lg){
    max-height: 35%;
    max-width: 35%;
  }

}

.master-icon{
    /* HIDE RADIO */
  [type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* IMAGE STYLES */
  [type=radio] + img {
    cursor: pointer;
    background-color: #335877;
    border-radius: 10px;
    max-width: 50%;
    max-height: 50%;
    // width: 95%;
  }

  /* CHECKED STYLES */
  [type=radio]:checked + img {
    border-radius: 10px;
    border: solid 5px #09fd5e;
    // box-shadow: 0 0 15px #ff0000;
  }

  .overlay-master {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #335877;
    opacity: 0.7;
    overflow: hidden;
    width: 60%;
    height: 0;
    transition: .5s ease;
    cursor: pointer;
  }

  .container-master:hover .overlay-master {
    height: 75%;
  }

  .text-master {
    color: white;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.table-structure {
  tr, td{
    border-bottom: none;
  }
}

.token-master{
  Label {
    width: 100%;
  }

  [type=radio]+.card {
    background-color: #fff;
    color: $netis-primary;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    border-radius: 4px;
  }

  [type=radio]+.card:hover {
    cursor: pointer;
  }

  [type=radio]:checked+.card {
    border: 2px solid $netis-primary;
    -webkit-transition: border .3s;
    -o-transition: border .3s;
    transition: border .3s;
  }

}

.button-token{
  border: 1px solid #DAB746;
  background-color: #fff6be85;
  color: #d6ab1d;
  border-radius: 10px;
}

.dropdown-token{
  display: inline-block;
  border-radius: 60px;
  border: 0px solid;
  padding: 0.5em 0.8em;
  background-color: rgba(224, 229, 234, 0.31);
  i {
    color: rgba(243, 216, 50, 1);
  }
}

.notif-token{
  color: $netis-primary;
}

.table-token{
  background-color: #FAFAFA;
  overflow-x: hidden;
  overflow-y: visible !important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  scrollbar-color: transparent;  /* Firefox */
}

.table-token::-webkit-scrollbar {
  overflow-x: hidden;
  display: none;
  width: 0px;
  background: transparent;
}

.badge.unread {
  position: relative;
  &:after {
    content: '';
    width: 6px;
    height: 6px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    right: -2px;
  }
}

.fa.fa-bell-o.marked {
  position: relative;
  &:after {
    content: '';
    width: 35%;
    height: 35%;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.ringed {
  transform-origin: 50% 4px;
  animation: ring 4s ease-in-out infinite;
}

@-webkit-keyframes ring {
  0% { -webkit-transform: rotateZ(0); }
  1% { -webkit-transform: rotateZ(30deg); }
  3% { -webkit-transform: rotateZ(-28deg); }
  5% { -webkit-transform: rotateZ(34deg); }
  7% { -webkit-transform: rotateZ(-32deg); }
  9% { -webkit-transform: rotateZ(30deg); }
  11% { -webkit-transform: rotateZ(-28deg); }
  13% { -webkit-transform: rotateZ(26deg); }
  15% { -webkit-transform: rotateZ(-24deg); }
  17% { -webkit-transform: rotateZ(22deg); }
  19% { -webkit-transform: rotateZ(-20deg); }
  21% { -webkit-transform: rotateZ(18deg); }
  23% { -webkit-transform: rotateZ(-16deg); }
  25% { -webkit-transform: rotateZ(14deg); }
  27% { -webkit-transform: rotateZ(-12deg); }
  29% { -webkit-transform: rotateZ(10deg); }
  31% { -webkit-transform: rotateZ(-8deg); }
  33% { -webkit-transform: rotateZ(6deg); }
  35% { -webkit-transform: rotateZ(-4deg); }
  37% { -webkit-transform: rotateZ(2deg); }
  39% { -webkit-transform: rotateZ(-1deg); }
  41% { -webkit-transform: rotateZ(1deg); }

  43% { -webkit-transform: rotateZ(0); }
  100% { -webkit-transform: rotateZ(0); }
}

@-moz-keyframes ring {
  0% { -moz-transform: rotate(0); }
  1% { -moz-transform: rotate(30deg); }
  3% { -moz-transform: rotate(-28deg); }
  5% { -moz-transform: rotate(34deg); }
  7% { -moz-transform: rotate(-32deg); }
  9% { -moz-transform: rotate(30deg); }
  11% { -moz-transform: rotate(-28deg); }
  13% { -moz-transform: rotate(26deg); }
  15% { -moz-transform: rotate(-24deg); }
  17% { -moz-transform: rotate(22deg); }
  19% { -moz-transform: rotate(-20deg); }
  21% { -moz-transform: rotate(18deg); }
  23% { -moz-transform: rotate(-16deg); }
  25% { -moz-transform: rotate(14deg); }
  27% { -moz-transform: rotate(-12deg); }
  29% { -moz-transform: rotate(10deg); }
  31% { -moz-transform: rotate(-8deg); }
  33% { -moz-transform: rotate(6deg); }
  35% { -moz-transform: rotate(-4deg); }
  37% { -moz-transform: rotate(2deg); }
  39% { -moz-transform: rotate(-1deg); }
  41% { -moz-transform: rotate(1deg); }

  43% { -moz-transform: rotate(0); }
  100% { -moz-transform: rotate(0); }
}

@keyframes ring {
  0% { transform: rotate(0); }
  1% { transform: rotate(30deg); }
  3% { transform: rotate(-28deg); }
  5% { transform: rotate(34deg); }
  7% { transform: rotate(-32deg); }
  9% { transform: rotate(30deg); }
  11% { transform: rotate(-28deg); }
  13% { transform: rotate(26deg); }
  15% { transform: rotate(-24deg); }
  17% { transform: rotate(22deg); }
  19% { transform: rotate(-20deg); }
  21% { transform: rotate(18deg); }
  23% { transform: rotate(-16deg); }
  25% { transform: rotate(14deg); }
  27% { transform: rotate(-12deg); }
  29% { transform: rotate(10deg); }
  31% { transform: rotate(-8deg); }
  33% { transform: rotate(6deg); }
  35% { transform: rotate(-4deg); }
  37% { transform: rotate(2deg); }
  39% { transform: rotate(-1deg); }
  41% { transform: rotate(1deg); }

  43% { transform: rotate(0); }
  100% { transform: rotate(0); }
}

.img-logo {

  @include media-breakpoint-up(xs){
    width: 50%;
  }

  @include media-breakpoint-up(sm){
    width: 40%;
  }

  @include media-breakpoint-up(md){
    width: 25%;
  }

  @include media-breakpoint-up(lg){
    width: 15%;
  }
}

.table-data{
  max-height: 80vh;
  // position: relative;

  @include media-breakpoint-down(md){
    overflow-x: scroll;
  }
  @include media-breakpoint-up(lg){
    overflow-x: hidden;
  }

  tr.grey-tr, th {
    background-color: #f5f6fa;
    z-index: 99;
  }

  .scroll-table {
    overflow-y: scroll;
  }

  .header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

.back-home{
  background-color:#000;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.card-link-invoice {
  .card-invoice {
    border-radius: 12px;
    &:hover{
      box-shadow: 2px 2px 12px -2px rgba(78,227,242,0.59);
    }
  }
  text-decoration: none;
  color: #000;
  cursor: pointer;

  :hover {
    .card-body{
      background-color: rgb(245, 245, 245);
      color: inherit;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

a.card-detail-job {
  text-decoration: none;
  color: #000;
  cursor: pointer;

  :hover {
    text-decoration: none;
    color: #000;
  }

  .card {
    transition: transform .2s ease-in-out;

    &:hover {
      transform: scale(1.05);
      z-index: 1;
    }
  }
}

.card .card-image {
  img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 1);
  }
}

.detail-applicant-photo {
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 8px -5px rgba(0, 0, 0, 0.507);
  }
}

.button-reset {
  background-color: #fff;
  border-radius: 10px;
}

.button-reset:hover {
  background-color: $netis-primary;
  color: #fff;
}

.menu-dashboard {
  @include media-breakpoint-down(sm){
    display: none !important;
  }
  @include media-breakpoint-up(md){
    display: block !important;
  }
}

.menu-mobile {
  @include media-breakpoint-down(sm){
    display: block !important;
  }
  @include media-breakpoint-up(md){
    display: none !important;
  }
}

.recruitment-label {
  top: -40;
  font-size: 12px;
  margin-left: auto;
  padding: 3px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 8px;
  min-width: 80px;
  // width: 120px;
  height: 20px;
  padding-top: 1px;
  padding-left: 5px;
  align-items: center;
}

.job-icon {
  background-color: #dbe2f5;
  color: $netis-primary;
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  width: 100px;
  height: 100px;
  padding-top: 20px;
}

.partner-row {
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  @include media-breakpoint-down(sm){
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}


.partner-icon {
  margin-bottom: 10px;

  .image-partner {
    margin-left: 50px;
    margin-right: 50px;
  }

  .griyaton {
    margin-top: 15%;
    margin-right: 40px;
  }
  .frogs {
    margin-top: 25%;
    margin-right: 10px;
  }
  .puskesmas{
    margin-top: 25%;
    margin-left: 60px;
  }
  .autoconz{
    margin-right: 60px;
  }
  .idealab{
    margin-right: 20px;
  }

  @include media-breakpoint-down(sm){
    .arutala {
      width: 80px;
    }
    .griyaton {
      width: 150px;
    }
    .puskesmas {
      width: 100px;
    }
    .msmb {
      width: 150px;
    }
    .idealab {
      width: 90px;
    }
    .autoconz {
      width: 130px;
    }
    .frogs {
      width: 100px;
    }
  }
}

.app-img {
  @include media-breakpoint-up(lg){
    width: 150px;
  }
}

.search-filter-input{
  width: 100%;
  @include media-breakpoint-up(md){
    width: 40%;
  }
  @include media-breakpoint-up(lg){
    width: 35%;
  }
}

.table-recap {
  height: calc(100vh - 80px);
  table {
    table-layout: fixed;
  }
  td {
    vertical-align: top;
  }
  thead th{
    border-bottom: none;
  }
  .border-bottom-red thead th{
    border-bottom: 1px solid red;
  }
  .table-recap-head {
    background-color: #f5f6fa;
    position: sticky;
    top: 29px;
    z-index: 1;
  }

  .table-recap-first-td {
    background-color: #f5f6fa;
    position: sticky;
    left: 0;
    z-index: 2;
  }
  .table-recap-top {
    background-color: #f5f6fa;
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 3;
  }

  .table-recap-corner {
    background-color: #f5f6fa;
    position: sticky;
    top: -1px;
    left: 0;
    z-index: 4;
  }

}

.red-border {
  border-right: 1px solid red;
  border-left: 1px solid red;
}

.border-top-red {
  border-top: 1px solid red;
}

.border-bottom-red {
  border-bottom: 1px solid red !important;
  th {
    border-bottom: 1px solid red;
  }
}
.period-group {
  .react-datepicker-popper {
    right: 20px !important;
    left: unset !important;
  }
.period-date {
  .react-datepicker__triangle {
    right: 30px;
    left: unset !important;
    @include media-breakpoint-up(md){
      right: 60px;
    }
  }
  .react-datepicker__month-container {
    width: 260px;
    @include media-breakpoint-up(sm){
      width: 280px;
    }
    @include media-breakpoint-up(md){
      width: 280px;
    }
  }
  .react-datepicker__month-text {
    font-size: 12px;
    // margin: 5px !important;
    // width: 4.5rem !important;
  }
}
}

.kpi-class {
  width: 100%;
  @include media-breakpoint-up(md){
    width: 80%;
  }
  @include media-breakpoint-up(lg){
    width: 70%;
  }
}

.kpi-entry {
  // .div-freq {
  //   width: 60%;
  //   @include media-breakpoint-up(md){
  //     width: 40%;
  //   }
  // }
  .date-wrapper {
    // text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-detail {
    margin: 1rem 0rem;
    @include media-breakpoint-up(md){
      margin: 0.25rem 0rem;
    }
    display: flex;
    justify-content: flex-end;
  }
}

.modal-extra-large {
  .modal-xl {
    max-width: 95vw;
    @include media-breakpoint-up(md){
      max-width: 90vw;
    }
    @include media-breakpoint-up(lg){
      max-width: 80vw;
    }
  }
}