.modal .modal-dialog.bottom {
    position: fixed;
    margin: auto;
    width: 320px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
  }

  .modal-dialog.bottom .modal-content {
    height: 100%;
    overflow-y: auto;
  }

  .modal-dialog.bottom .modal-body {
    padding: 30px 15px;
  }

  /*bottom*/
  .modal.fade .modal-dialog.bottom {
    bottom: -400px;
    -webkit-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -moz-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    -o-transition: opacity 0.15s linear, bottom 0.15s ease-out;
    transition: opacity 0.15s linear, bottom 0.15s ease-out;
  }

  .modal.fade.show .modal-dialog.bottom {
    bottom: 0;
  }

.modal .modal-dialog.right {
  position: fixed;
  margin: auto;
  width: 320px;
  height: 100%;
  -webkit-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}

.modal-dialog.right .modal-content {
  height: 100%;
  overflow-y: auto;
}

.modal-dialog.right .modal-body {
  padding: 30px 15px;
}

/*Right*/
.modal.fade .modal-dialog.right {
  right: -400px;
  -webkit-transition: opacity 0.15s linear, right 0.15s ease-out;
  -moz-transition: opacity 0.15s linear, right 0.15s ease-out;
  -o-transition: opacity 0.15s linear, right 0.15s ease-out;
  transition: opacity 0.15s linear, right 0.15s ease-out;
}

.modal.fade.show .modal-dialog.right {
  right: 0;
}

.scale-div {
  transition: transform 200ms ease-in-out;
      &:hover {
        transform: scale(1.15);
        cursor: pointer;
      }
}

.scale-div-small {
  transition: transform 50ms ease-in-out;
      &:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
}

.link-card {
  color: #000;
  a:hover {
    text-decoration: none;
  }
}

.link-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.hover-bg-secondary:hover {
  background-color: #F5F5F5;
}
.payroll-entry-input {
  span {
    width: 100%;
  }
  textarea {
    width: 100%;
    height: calc(1.6em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid #e4e7ea;
    color: #5c6873;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
  }
}
.popover-payroll-entry-input {
  max-width: 480px;
}

.working-hours-input {
  .form-control {
    border: none;
  }
}

.pagination-hub {
  .page-link{
    color:$netis-primary;
    border: none;
    padding: 15px 20px;
    @include media-breakpoint-down(sm){
      padding: 12px 12px;
    }
  }
  .page-item.active .page-link {
    background-color: $netis-primary;
    border-color: $netis-primary;
  }
  .page-item.disabled .page-link {
    color: #fff;
  }
}

.link-text {
  color: #305574;
}
.link-text:hover{
  cursor: pointer;
  text-decoration: underline;
}

.payroll-user {
  .col-md-6, .col-5, .col-7, .col-6{
    padding-top: 4px;
    padding-bottom: 4px;
    @include media-breakpoint-up(md){
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
}